.header {

    background-color: currentColor;
    height: 100px;
    width: 100%;
    text-align: center;

}

.headerBtn {
    height: 100px;
    background-color: black;
    width: 100%;
}

.ViewBtnDiv {
    width: 50%;
    border: 1px solid grey;
    height: 100%;
    padding: 0 !important;
}

.ReadBtnDiv {
    width: 50%;
    border: 1px solid grey;
    height: 100%;
    padding: 0 !important;
}

.headerText {
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    color: bisque;
    line-height: 5;
    font-weight: bold !important;

}

.ReadBtn {
    width: 100%;
    height: 100%;
    border-radius: 0px !important;
    margin: 0;
    font-family: inherit;
    font-size: 20px;
    color: black;
    font-weight: bold !important;
}

.ViewBtn {
    width: 100%;
    height: 100%;
    border-radius: 0px !important;
    margin: 0;
    font-family: inherit;
    font-size: 20px;
    color: black;
    font-weight: bold !important;
}

.NewsBox {

    padding: 10px !important;
}

.NewsItem {
    height: 200px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
}



.ItemRow {
    border: none !important;
    margin: 5px;
}

.imgNew {
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    padding: 0px !important;
    height: 100% !important;
    width: 100% !important;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.outerBox {
    padding: 10px;
}

.Main {}

.ItemList {
        background: linear-gradient(to bottom, grey, white);
}
